@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,700,900");
#question-container {
    background-color: transparent;
    border: 1px solid black;
    padding: 20px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
    margin-top: 30px;
    height: 704px;
    width: 80%;
    overflow: auto;
}
#question-container h1{
    color:#800000 ;
    -webkit-text-stroke: 0.5px rgb(255, 215, 0); 
    font-family:"Montserrat",sans-serif ;
    margin-bottom: 10px;
}

#difficulty-selection {
    margin-bottom: 20px;
}

.difficulty-btn {
    margin: 0 10px;
    padding: 5px 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f0f0f0;
    cursor: pointer;
    transition: background-color 0.3s ease;
    height: 50px;
    width: 70px;
}

.difficulty-btn:hover {
    background-color: rgba(255, 217, 0, 0.636);
}

.selected {
    background-color: rgb(255, 215, 0);
    color: #800000;
}

#question-list {
    /* list-style-type: none; */
    padding: 0;
    margin: 0;
}

.question-item {
    padding: 10px;
    margin-bottom: 5px;
    background-color: transparent;
    color: #FFD700;
    border-radius: 5px;
    border: 1px solid grey;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
    display: none; /* Hidden by default */
    text-align: left;
    font-size: 20px;
}

.show {
    display: block;
    opacity: 1;
    transform: translateY(0);
}
#home1{
    display: flex;
    justify-content: center;
}

#question-container::-webkit-scrollbar {
    display: none; /* Hide scrollbar */
}
@media (max-width:592px) {
    #question-container h1{
        font-size: 20px;
    }
    
}
@media (max-width:592px) {
    #difficulty-selection button{
        height: 45px;
        width: 60px;
        padding: 1px;
    }

}
@media (max-width:550px) {
    #question-list li{
      font-size: 12px;
    }
    
    
  }
@media (max-width:480px) {
    #difficulty-selection button{
        height: 40px;
        width: 50px;
        margin: 2px;
        padding: 0.5px;
    }

}

