.preloader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
}

.preloader-container img {
    width: 700px; /* Adjust the size of the image as needed */
}